<div class="container">
    
<center><strong>Editing Input</strong></center>

<%= render 'form' %>

<%= link_to 'Show', @input, class: 'btn-sm btn-default' %> |
<%= link_to 'Back', inputs_path, class: 'btn-sm btn-default' %>

</div>
