<div class="container">
    
<center><strong>Editing Video Selector</strong></center>

<%= render 'form' %>

<%= link_to 'Show', @video_selector %> |
<%= link_to 'Back', video_selectors_path %>

</div>