<div class="container">

<center><strong>Change Live Event Attributes Locally</strong></center>

<%= render 'form' %>

<%= link_to 'Show', @live_event, class: 'btn-sm btn-default' %> |
<%= link_to 'Back', live_events_path, class: 'btn-sm btn-default' %>

</div>