<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <h3>Input XML</h3>
        <pre><%= @input_element %></pre>
      </div>
      
      <div class="modal-body">
        <ul class="errors"></ul>
         <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  
      </div>
  <!--    <div class="modal-footer">
           <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
      -->
  </div>
</div>        