<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">

      </div>
      
      <div class="modal-body">
        
      <p> Please select Event to filter and select inputs of that event</p>
      
      </div>

      <div class="modal-footer">
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %> 
      </div>
  </div>
</div>        
